<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenuBlog</title>
</head>
<body>
    <header>
        <h1>Post Cadastrado</h1>
    </header>
    <div>
        <a href="/blogs">Blog Menu</a>
    </div>
    
</body>
</html>