<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta ao logar</title>
</head>
<body>
    <h1>Resposta</h1>
        <p>O usuario <%= login1 %> com a senha <%= senha1%> tentou logar!</p>
        <p>Mensagem: <%=mensagem%> </p>
    
</body>
</html>